<h1>The Longest Word</h1>

<div class="letters">
  <% @letters.each do |x| %>
    <%= p x.upcase %>
  <% end %>
</div>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="field" type="text" name="user_answer" placeholder="What's the longest word you can find?">
  <input type="submit">
  <%= hidden_field_tag "letters", @letters %>
</form>

